<h4>New Review</h4>
<%= form_for([@profile, @review]) do |f| %>
  <div class = "rating_form">
    <p>how you rate this robot?</p>
    <span class="star_rating">
      <%= f.label  :star_rating_1 do %>
        <i class="fa fa-star star"  aria-hidden="true" id="one-star"></i>
        <%= f.radio_button :star_rating, 1 %>
      <% end %>

      <%= f.label :star_rating_2 do %>
        <i class="fa fa-star star"  aria-hidden="true" id="two-star"></i>
        <%= f.radio_button :star_rating, 2 %>
      <% end %>

      <%= f.label  :star_rating_3 do %>
        <i class="fa fa-star star"  aria-hidden="true" id="one-star"></i>
        <%= f.radio_button :star_rating, 1 %>
      <% end %>

      <%= f.label :star_rating_4 do %>
        <i class="fa fa-star star"  aria-hidden="true" id="two-star"></i>
        <%= f.radio_button :star_rating, 2 %>
      <% end %>

      <%= f.label :star_rating_5 do %>
        <i class="fa fa-star star"  aria-hidden="true" id="two-star"></i>
        <%= f.radio_button :star_rating, 2 %>
      <% end %>
    </span>
    
  </div>
  <div class = "review_description">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

<%= f.submit %>
<% end %>
