<%= form_for([@profile, @review]) do |f| %>
  <div class = "rating_form">
    <p>Rate a Robot you worked with!</p>

    <% ['star_rating', 'dependability', 'reliable_transportation', 'punctuality'].each do |type| %>
      <%= render "star_radio_buttons", :type => type, :f => f %>
    <% end %>
  </div>

  <div class = "review_description">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

  <%= f.submit %>
<% end %>
