

<div class = "reviews">
<button type = "button" class = "close">Close</button>

  <h1>Reviews:</h1>
  <% if @profile.reviews %>
    <% @profile.reviews.each do |r| %>
      <p>Star rating:<p>Star rating:<%= r.star_rating.times do  %>
            <i class="fa fa-star star"  aria-hidden="true"></i>
          <% end %>
      </p>
      <p>Dependabiity:<%= r.dependability.times do %>
        <i class="fa fa-star star"  aria-hidden="true"></i>
        <% end %>
      </p>
      <p>Punctuality:<%= r.punctuality.times do %>
        <i class="fa fa-star star"  aria-hidden="true"></i>
        <% end %>
      </p>
      <p>Reliable transportation<%= r.reliable_transportation.times do %>
      <i class="fa fa-star star"  aria-hidden="true"></i>
      <% end %>
      </p>
      <p>Hire Again:<%= r.hire_again.times do %>
        <i class="fa fa-star star"  aria-hidden="true"></i>
      <% end %>
      </p>
      <p>Description:<%= r.description %></p>

      <% if r.user != nil %>
      <p><%= r.user.first_name %></p>
      <% end %>
        <p>Posted at:<%= r.created_at %></p>
    <% end %>
<% else %>
  <p> No reviews yet </p>
<% end %>
</div>
