
<div class = "reviews">
  <button type = "button" class = "close">Close</button>
  <h1>Reviews:</h1>
  <% if @profile.reviews %>
    <% @profile.reviews.each do |r| %>
      <p>Star rating:<span><%= r.star_rating %><i class="fa fa-star" aria-hidden="true"></i></span></p>
      <p>Dependabiity:<span><%= r.dependability %></span></p>
      <p>Punctuality:<span><%= r.punctuality %></span></p>
      <p>Reliable transportation:<span><%= r.reliable_transportation %></span></p>
      <p>Hire Again:<span><%= r.hire_again %></span></p>
      <p>Description:<span><%= r.description%></span></p>
      <% if r.user != nil %>
      <p>Written by <span><%= r.user.first_name %></span></p>
      <% end %>
        <p>Posted at:<%= r.created_at %></p>
        <hr>
    <% end %>
<% else %>
  <p> No reviews yet </p>
<% end %>
</div>
