

<div class = "reviews">
<button type = "button" class = "close">Close</button>

  <h1>Reviews:</h1>
  <% if @profile.reviews %>
    <% @profile.reviews.each do |r| %>

      <p>Overall:<%= r.star_rating.times do  %>
        <span><i class="fa fa-star star"  aria-hidden="true"></i></span>
        <% end %>
      </p>
      <p>Dependabiity:<%= r.dependability.times do %>
        <span><i class="fa fa-star star"  aria-hidden="true"></i></span>
        <% end %>
      </p>
      <p>Punctuality:<%= r.punctuality.times do %>
        <span><i class="fa fa-star star"  aria-hidden="true"></i></span>
        <% end %>
      </p>
        <p>Reliable Transportation:<%= r.reliable_transportation.times do %>
        <span><i class="fa fa-star star"  aria-hidden="true"></i></span>
      <% end %>
      </p>
      <p>Hire Again:<%= r.hire_again.times do %>
        <span><i class="fa fa-star star"  aria-hidden="true"></i></span>
      <% end %>
      </p>
      <p>Description:<%= r.description %></p>

      <% if r.user != nil %>
      <p>Written by <span><%= r.user.first_name %></span></p>
      <% end %>
        <p>Posted at:<%= r.created_at %></p>
        <hr>
    <% end %>
<% else %>
  <p> No reviews yet </p>
<% end %>
</div>
