

  <a href = "javascript:void(0)" class = "flex-box">
    <% if profile.user.photo%>
      <%= image_tag profile.user.photo %>
    <% else %>
      <p>No Image<p>
    <% end %>
  <div class = "profile_info">
    <p><<%= profile.user.first_name.capitalize%> <%= profile.user.last_name.capitalize%></p>
    <p><%= profile.services.last.category %></p>
    <p><%= profile.display_distance_to([@lat, @lng]).round(2)%>kms away</p>
    <p><%= button_to 'more info', profile_path(profile), method: :get%></p>
  </div>
 </a>
