<div class = "babysitter_profile">
  <div class = "babysitter_sidebar">
    <div class = "photo"><%= image_tag @profile.user.photo %>
      <div class="babysitter_booking">
        <p>Book this babysitter:</p>

        <% if current_user != @profile.user %>
          <p><%= button_to 'Book', new_profile_booking_path(@profile), method: :get, class: "booking_button"  %></p>
        <% end %>
      </div>
      <div id="reviewContainer"></div>
      <button id="makeReview" data-id="<%= @profile.id %>">Write A Review</button>
      <%# if current_user %>
        <%#= render partial: "reviews/review_form" %>
      <%# end %>
    </div>
  </div>

    <div id = "profile_info">
        <h1><%=@profile.user.first_name.capitalize%> <%=@profile.user.last_name.capitalize%></h1>
        <P><span>Description: </span><%= @profile.description %></p>
        <p><span>Services: </span><%= @profile.services.last.category %></p>
        <p><span>Age: </span><%= @profile.age %>years old</p>
        <p><span>Experience: </span><%= @profile.exp_num %>years of experience</p>
        <p><span>Rate: </span> $<%= @profile.rate %>/hr</p>
        <p><span>Availbility: </span> <%= @profile.availability %></p>
        <p><span>Education: </span><%= @profile.education %></p>
        <p><span>Language: </span> <%= @profile.language %></p>
        <p><span>Transpotation: </span><%= @profile.transportation %></p>
        <p><span>Comfortable with pets: </span><%= @profile.pets %></p>
        <p><span>Phone: </span> <%= @profile.phone_number %></p>

      <button id = "view_review" data-id = "<%= @profile.id %>"> View Reviews(<%= @profile.reviews.length%>)</button>
      <div class="reviews" id = "show_review">
    <%#= render partial: 'reviews/show_reviews' %>
    </div>



    <div class = "modal-dialog">
      <div class = "booking_modal">
          <button type="button" class="close">Close</button>
          <%= render partial: "bookings/booking"%>
      </div>
    </div>
    </div>

  </div>
