<div class = "babysitter_profile">
  <h1>Robositter:</h1>
      <p class = "photo"><%= image_tag @profile.user.photo %></P>
    <h3>About Me</h3>
        <P><%= @profile.description %></p>
        <p><%= @profile.age %>years old</p>
        <p>Experience: <%= @profile.exp_num %>years of experience</p>
        <p>Rate: $<%= @profile.rate %>/hr</p>
        <p>Availbility: <%= @profile.availability %>/hr</p>
        <p>Education: <%= @profile.education %></p>
        <p>Language: <%= @profile.language %></p>
        <p>Transpotation: <%= @profile.transportation %></p>
        <p>Comfortable with pets: <%= @profile.pets %></p>
        <p>Phone: <%= @profile.phone_number %></p>

    <h3>Review</h3>
    <% if @reviews %>
      <% @profile.reviews.each do |r| %>
        <p>Star rating:<%= r.star_rating %></p>
        <p>Dependabiity:<%= r.dependability %></p>
        <p>Punctuality:<%= r.punctuality %></p>
        <p>Reliable transportation<%= r.reliable_transportation %></p>
        <p>Hire Again:<%= r.hire_again %></p>
        <p>Description:<%= r.description%></p>
        <% if r.user != nil %>
          <em> reviewed by <%= r.user.first_name %></em>
          <p>Posted at:<%= r.created_at %></p>
        <% end %>
      <% end %>
  <% else %>
    <p> No reviews yet </p>
  <% end %>
    <% if current_user %>
      <h4>New Review</h4>
      <%= form_for([@profile, @review]) do |f| %>
        <%= f.label :star_rating %>
        <%= f.radio_button :star_rating, id: "rating-1",1 %>
        <%= f.label :star_rating %>
        <%= f.radio_button :star_rating, id: "rating-2",2%>
        <%= f.label :star_rating %>
        <%= f.radio_button :star_rating,, id: "rating-3",3%>
        <%= f.label :star_rating %>
        <%= f.radio_button :star_rating, id:4%>
        <%= f.label :star_rating %>
        <%= f.radio_button :star_rating, 5 %>
      <% end %>
    <% end %>
    <div class="babysitter_booking">


      <p>Book this babysitter:</p>

      <% if current_user != @profile.user %>
        <p><%= button_to 'Book', new_profile_booking_path(@profile), method: :get, class: "booking_button"  %></p>
      <% end %>

      <div class = "booking_modal">
          <button type="button" class="close">x</button>
          <%= render partial: "bookings/booking"%>
      </div>
    </div>
</div>
