<div class = "babysitter_profile">
  <h1>Robositter:</h1>
      <p class = "photo"><%= image_tag @profile.user.photo %></P>
    <h3>About Me</h3>
        <P><%= @profile.description %></p>
        <p><%= @profile.age %>years old</p>
        <p>Experience: <%= @profile.exp_num %>years of experience</p>
        <p>Rate: $<%= @profile.rate %>/hr</p>
        <p>Availbility: <%= @profile.availability %>/hr</p>
        <p>Education: <%= @profile.education %></p>
        <p>Language: <%= @profile.language %></p>
        <p>Transpotation: <%= @profile.transportation %></p>
        <p>Comfortable with pets: <%= @profile.pets %></p>
        <p>Phone: <%= @profile.phone_number %></p>


    <div class="babysitter_booking">

      <p>Book this babysitter:</p>
      <p><%= button_to 'Book', new_user_booking_path(current_user), method: :get, class: "booking_button"  %></p>

      <div class = "booking_modal">
          <button type="button" class="close">x</button>
          <%= render partial: "bookings/booking"%>
      </div>
    </div>

</div>
