<h1>Users</h1>


  <% @users.each do |user| %>
    <%= link_to user_path(user) do %>
    <%= image_tag user.photo %><br/>
    <%= user.first_name %><%= user.last_name %><br/>
    <%= user.address %><br/>
    <%= user.email %><br/>
    <% end %>
  <% end %>
