
  <div class="user_info">
    <ul>
      <li><%= @user.photo %></li>
      <h1><%= @user.first_name.capitalize %></h1>
      <h1><%= @user.last_name.capitalize %></h1>
      <li><%= @user.email %></li>
      <li><%= link_to "Edit", edit_user_path(current_user)%></li>
    </ul>
  </div>


    <% if @user.profile %>
    <div class = "user_info" id ="user_profile">
      <ul>
        <h1>Profile:</h1>
        <li>Description:<p><span><%= @user.profile.description %></span></p></li>
        <li>Experience:<p><span> <%= @user.profile.exp_num %></span></p></li>
        <li>Education:<p><span> <%= @user.profile.education %></span></p></li>
        <li>Languages:<p><span> <%= @user.profile.language %></span></p></li>
        <li>Availability:<p><span> <%= @user.profile.availability %></span></p></li>
        <li>Transportation:<p><span> <%= @user.profile.transportation %></span></p></li>
        <li>Comfortable with Pets:<p><span> <%= @user.profile.pets %></span></p></li>
        <li>Phone Number:<p><span><%= @user.profile.phone_number %></span></p></li>
        <li>Addres:<p><span> <%= @user.profile.address %></span></p></li>
        <li>Rate:<p><span> <%= @user.profile.rate %></span> </p></li>
      </ul>
    </div>

    <% end %>

<div class = "user_info" id = "bookings_you_made">
  <% if @user.bookings.any? %>
    <h1>Your Bookings: </h1>
    <% @user.bookings.each do |b| %>
      <ul>
        <li>First Name: <span><%= b.profile.user.first_name %></span></li>
        <li>Last Name: <span><%= b.profile.user.last_name %></span></li>
        <li>Start Time: <span><%= b.start_time %></span></li>
        <li>End Time: <span><%= b.end_time %></span></li>
        <li>Address: <span><%= b.address %></span></li>
        <li>Confirmed:
          <% if b.confirmation == false%>
          <span>Not Yet Confirmed</span>
          <% end %>
          <% if b.confirmation == true%>
          <span>Confirmed</span>
          <% end %>
        </li>
        <li class="btn"><%= link_to "see the profile of this robot",  profile_path(b.profile) %></li>
      </ul>
    <% end %>
    <% else %>
      <p>No bookings made yet</p>
  <% end %>
  </div>

  <% if @user.profile %>
  <div class= "user_info" id = "booking_request">
    <% @user.profile.bookings.each do |b| %>
      <h1>Bookings requested for you:</h1>
      <p>Name:<span> <%= b.user.first_name %><% b.user.last_name %></span></p>
      <p>Address:<span> <%= b.address %></span></p>
      <p>Email:<span> <%= b.user.email %></span></p>
      <p>Start Time:<span> <%= b.start_time %></span></p>
      <p>End Time:<span> <%= b.end_time %></span></p>

      <% if b.confirmation == false %>
      <%= form_for [@user.profile, b] do |f|%>
      <%= f.hidden_field :confirmation, value: true %>
      <%= f.submit "Confirm Booking"%>
      <% end %>
    <% end %>
    <% end%>
  </div>
  <% end %>
