
  <div class="user_info">
    <ul>
      <li><%= @user.photo %></li>
      <h1><%= @user.first_name.capitalize %></h1>
      <h1><%= @user.last_name.capitalize %></h1>
      <li><%= @user.email %></li>
    </ul>
  </div>


    <% if @user.profile %>
    <div class = "user_info" id ="user_profile">
      <ul>
        <h1>Profile:</h1>
        <li>Description:<%= @user.profile.description %></li>
        <li>Experience: <%= @user.profile.exp_num %></li>
        <li>Education: <%= @user.profile.education %></li>
        <li>Languages: <%= @user.profile.language %></li>
        <li>Availability: <%= @user.profile.availability %></li>
        <li>Transportation: <%= @user.profile.transportation %></li>
        <li>Comfortable with Pets: <%= @user.profile.pets %></li>
        <li>Phone Number:<%= @user.profile.phone_number %></li>
        <li>Addres: <%= @user.profile.address %></li>
        <li>Rate: <%= @user.profile.rate %>></li>
      </ul>
    </div>

    <% end %>

<div class = "user_info" id = "bookings_you_made">
  <% if @user.bookings.any? %>
    <% @user.bookings.each do |b| %>
      <ul>
        <h1>Your Bookings: </h1>
        <li>First Name: <span><%= b.profile.user.first_name %></span></li>
        <li>Last Name: <span><%= b.profile.user.last_name %></span></li>
        <li>Start Time: <span><%= b.start_time %></span></li>
        <li>End Time: <span><%= b.end_time %></span></li>
        <li>Address: <span><%= b.address %></span></li>
        <li>Confirmed: <span><%= b.confirmation %></span></li>
      </ul>
    <% end %>
    <% else %>
      <p>No bookings made yet</p>
  <% end %>
  </div>

  <% if @user.profile %>
  <div class= "user_info" id = "booking_request">
    <% @user.profile.bookings.each do |b| %>
      <h1>Bookings requested for you:</h1>
      <p>Name: <%= b.user.first_name %><% b.user.last_name %></p>
      <p>Address: <%= b.address %></p>
      <p>Email: <%= b.user.email %></p>
      <p>Start Time: <%= b.start_time %></p>
      <p>End Time: <%= b.end_time %></p>
      <span><%= b.confirmation %></span>
      <% if b == false %>
      <%= form_for [@user.profile, b] do |f|%>
      <%= f.hidden_field :confirmation, value: true %>
      <%= f.submit "Confirm Booking"%>
      <% end %>
    <% end %>
    <% end%>
  </div>
  <% end %>
