<!DOCTYPE html>
<html>
<head>
  <title>WeCare</title>
  <script src="https://maps.googleapis.com/maps/api/js?key=<%=ENV["google_maps_api_key"]%>&callback=initialize"></script>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="nav">
        <ul class="navbar">
          <li class = "home_nav"><%= link_to 'WeRoboCare', root_path %></li>

          <% if current_user %>
            <li>Welcome, <span><%= current_user.first_name %></span></li>
            <li><%= link_to 'Log Out', log_out_path, method: :delete %></li>
          <% else %>
            <li><%= link_to 'Sign Up', sign_up_path, class: "signup_button" %></li>
            <li><%= link_to 'Log In', log_in_path, class: "login_button" %></li>
          <% end %>
        </ul>
  </div>

  <div class= "login_modal">
    <button type="button" class="close">x</button>
    <%= render partial: "sessions/login"%>
  </div>

  <div class= "signup_modal">
    <button type="button" class="close">x</button>
    <%= render partial: "users/signup"%>
  </div>


<%= yield %>

</body>
</html>
