<!DOCTYPE html>
<html>
<head>
  <title>WeCare</title>
  <script src="https://maps.googleapis.com/maps/api/js?key=<%=ENV["google_maps_api_key"]%>", async: true, defer: true></script>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
  <!-- &callback=initialize -->
</head>
<body>

  <div class="nav">
  <li class = "home_nav"><%= link_to 'WeRoboCare', root_path %></li>
        <ul class="navbar">

          <% if current_user %>
            <li>Welcome, <span><%= current_user.first_name %></span></li>
            <li><%= link_to 'Become A Care Giver', new_user_profile_path(current_user)%></li>
            <li><%= link_to 'Log Out', log_out_path, method: :delete %></li>
          <% else %>
            <li><%= link_to 'Sign Up', sign_up_path, class: "signup_button" %></li>
            <li><%= link_to 'Log In', log_in_path, method: :get, class: "login_button" %></li>
          <% end %>
        </ul>


  </div>
        <% if current_user.nil? %>
          <div class= "login_modal">
            <button type="button" class="close">x</button>
            <%= render partial: "sessions/login"%>
          </div>

          <div class= "signup_modal">
            <button type="button" class="close">x</button>
            <%= render partial: "users/signup"%>
          </div>

        <% end %>

<%= yield %>

</body>
</html>
