<div class= "booking_form">

  <%= form_for [@profile, Booking.new] do |f| %>

    <p><%= f.label :start_time %></p>
    <p><%= f.datetime_select :start_time %></p>

    <p><%= f.label :end_time %></p>
    <p><%= f.datetime_select :end_time %></p>

    <p><%= f.label :address %></p>
    <p><%= f.text_field :address %></p>


    <%= f.submit 'Create Booking', :class => "create_booking_button" %>
  <% end %>
</div>
